.about-page-wrapper {
  background: url('../images/about.jpg');
  min-height: 95vh;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  position: relative;
}

#about-section {
  min-height: 150px;
  max-height: 150px;
  padding-bottom: 0;
  font-size: 4vh;
}

#about-contact {
  background-color: #e5e5e5;
}

#about-panel {
  background-color: #e5e5e5;
  margin-left: 30%;
  margin-top: 10vh;
  font-size: 30px;
  width: 50%;
}
