@import 'about.css';
@import 'quote.css';
@import 'loader.css';
@import 'nav.css';
@import 'projects.css';

* {
  width: 100%;
  -webkit-margin-before:0em;
  -webkit-margin-after:0em;
  box-sizing: border-box;
  margin: 0;
  background: #e5e5e5;
  font-family: 'Ubuntu';
}

.main-header-wrapper {
  position: absolute;
  left: 25%;
  top: 30%;
  width: 50%;
  height: auto;
  z-index: 11;
  background: transparent;
}

.main-row {
  margin-bottom: 10%;
  background: transparent;
  text-align: center;
  font-size: 2vw;
}

.main-row h1 {
  font-weight: 700;
}

.main-row > * {
  background: transparent;
}

.hide {
  display: none;
}

#hide {
  display: none;
}

.show {
  display: unset;
}

.wrapper {
  display: none;
}

#show {
  visibility: visible;
}

.video {
  z-index: -1;
  background-size: cover;
}

li {
  list-style-type: none;
  padding: 5px;
}

a {
  font-size: 70px;
  text-decoration: none;
  color: #444444;
}

a:hover {
  text-decoration: line-through;
}

.black {
  color: #444444;
}

.white {
  color: white;
}

.main-content {
  min-height: 85vh;
  max-height: 85vh;
}

.panel {
  position: absolute;
  background-color: transparent;
  opacity: .7;
  min-height: 25vh;
  width: 33%;
  padding: 50px;
  z-index: 10;
  position: absolute;
  border-radius: 5px;
  border: 2px;
}

.panel h3 {
  text-align: center;
  letter-spacing: 5px;
  padding: 10px;
  padding-bottom: -50px;
  mix-blend-mode: exclusion;
}

.parallax {
  min-height: 95vh;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  position: relative;
}

.section {
  min-height: 200px;
  text-align: center;
  padding: 50px 80px;
  text-align: justify;
}

.section h3 {
  text-align: center;
  letter-spacing: 5px;
  font-size: 150%;
}

.section p {
  display: block;
  text-align: justify;
}

#small-section {
  min-height: 75px;
}

.panel p {
  padding: 20px;
  text-align: justify;
  text-align: center;
}

#built-with {
  margin-top: 10%;
  font-size: 15px;
  text-align: center;
}

#built-with a {
  font-size: 15px;
}
