* {
  width: 100%;
  -webkit-margin-before:0em;
  -webkit-margin-after:0em;
  box-sizing: border-box;
  margin: 0;
  background: #e5e5e5;
  font-family: 'Ubuntu';
}

.main-header-wrapper {
  position: absolute;
  left: 25%;
  top: 30%;
  width: 50%;
  height: auto;
  z-index: 11;
  background: transparent;
}

.main-row {
  margin-bottom: 10%;
  background: transparent;
  text-align: center;
  font-size: 2vw;
}

.main-row h1 {
  font-weight: 700;
}

.main-row > * {
  background: transparent;
}

#quote-padding {
  padding-left: 25%;
}

#quote-source {
  font-weight: 700;
  background: transparent;
  font-size: 110%;
  color: white;
}

#quote-source:hover {
  color: black;
}

.loader-wrapper {
  height: 100vh;
  width: 100%;
  background: #e5e5e5;
  display: flex;
  justify-content: center;
}

.loader {
  letter-spacing: 5px;
  font-size: 30px;
  color: #999;
  align-self: center;
  text-align: center;
}

.hide {
  display: none;
}

#hide {
  display: none;
}

.show {
  display: unset;
}

.wrapper {
  display: none;
}

#show {
  visibility: visible;
}

.video {
  z-index: -1;
  background-size: cover;
}

#nav-bar {

}

.nav-wrapper {
  z-index: 99;
  position: absolute;
  display: none;
  opacity: 1;
  text-align: center;
}

.nav-container {
  margin: 0 auto;
  display: flex;
  position: fixed;
  text-align: center;
  justify-content: center;
  min-width: 33vw;
  max-width: 33vw;
  min-height: 100vh;
}

.nav-container ul {
  text-align: center;
  align-self: center;
}

li {
  list-style-type: none;
  padding: 5px;
}

a {
  font-size: 70px;
  text-decoration: none;
  color: #444444;
}

.project-info {
  text-align: center;
}

.project-link {
  font-size: 100%;
}

a:hover {
  text-decoration: line-through;
}

.black {
  color: #444444;
}

#nav-toggle {
  user-select: none;
  position: fixed;
  font-size: 30px;
  width: 5%;
  cursor: crosshair;
  z-index: 100;
  font-family: 'Raleway';
  background: transparent;
  padding-left: 20px;
  padding-top: 20px;
}

.white {
  color: white;
}

.main-content {
  min-height: 85vh;
  max-height: 85vh;
}

.panel {
  position: absolute;
  background-color: transparent;
  opacity: .7;
  min-height: 25vh;
  width: 33%;
  padding: 50px;
  z-index: 10;
  position: absolute;
  border-radius: 5px;
  border: 2px;
}

.panel h3 {
  text-align: center;
  letter-spacing: 5px;
  padding: 10px;
  padding-bottom: -50px;
  mix-blend-mode: exclusion;
}

#synapse {
  background-image: url("../images/synapse.png");
}

#dnd-planner {
  background-image: url("../images/dice.jpg");
  background-size: cover;
}

#color-coder {
  background-image: url('../images/color-coder.jpg');
}

.parallax {
    min-height: 95vh;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;
}

.section {
  min-height: 200px;
  text-align: center;
  padding: 50px 80px;
  text-align: justify;
}

.section h3 {
  text-align: center;
  letter-spacing: 5px;
}

.section p {
  display: block;
  text-align: justify;
}

#small-section {
  min-height: 75px;
}

.panel p {
  padding: 20px;
  text-align: justify;
  text-align: center;
}

#projects {
  min-height: 20vh;
  padding-top: 8vh;
}

.section h3 {
  font-size: 150%;
}

.about-page-wrapper {
  background: url('../images/about.jpg');
  min-height: 95vh;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  position: relative;
}

#about-section {
  min-height: 150px;
  max-height: 150px;
  padding-bottom: 0;
  font-size: 4vh;
}

#about-contact {
  background-color: #e5e5e5;
}

#about-panel {
  background-color: #e5e5e5;
  margin-left: 30%;
  margin-top: 10vh;
  font-size: 30px;
  width: 50%;
}

#collaborations {
  min-height: 20vh;
  padding-top: 8vh;
}

#social {
  display: flex;
  justify-content: space-between;
}

#social div {
  width: 33%;
  text-align: center;
}

#synapse-panel {
  display: none;
  padding-top: 10vh;
  width: 60vw;
}

#dnd-planner-panel {
  display: none;
  padding-top: 10vh;
}

#contact-link a {
  font-size: 25px;
  color: black;
}

#nav-contacts-wrapper {
  padding-top: 5vh;
  display: flex;
}

#nav-contacts-wrapper div {
  justify-content: space-between;
}

/*menu animation*/

#nav-icon {
  width: 60px;
  height: 45px;
  position: relative;
  margin: 0 auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  background: transparent;
}

#nav-icon span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: #000000;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon span:nth-child(2) {
  top: 18px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon span:nth-child(3) {
  top: 36px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -3px;
  left: 8px;
}

#nav-icon.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 39px;
  left: 8px;
}
